.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.userForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
